<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        h1 {color: red}
        p {color: green}
    </style>
</head>
<body background="/static/beijingtu.jpg">
<h1 align="center">个人简历</h1>
<hr />
<h2>基本信息</h2>
<hr />
<table width="100%" border="1"
cellpadding="30" background="/static/静态图片.jpg">
     <tr>
     <th>姓名：</th> 
    <td>张莎</td> 
         <th>性别：</th> 
         <td>女</td> 
         <th>籍贯：</th> 
         <td>河北省邯郸市</td> 
     </tr> 
    <tr> 
        <th>出生年月：</th> 
        <td>1988年3月4日</td> 
        <th>联系方式：</th> 
        <td>13716491924</td> 
        <th>电子邮件：</th> 
        <td>zhangsha_99@163.com</td> 
    </tr> 
    </table>
<br />
<hr />
<h2>求职意向</h2>
<hr />
<p>测试</p>
<p>期待的文化：和谐的团队氛围；清晰的目标远景</p>
<hr />
<h2>工作经历</h2>
<hr />
<p> </p>
</body>
</html>